services:
  server:
    container_name: matchup-server
    build:
      context: .
      dockerfile: uu_ritr_maing01-server/Dockerfile
    ports:
      - "8080:8080"
      - "8082:8082"
    networks:
      fuckthisshit:
        ipv4_address: 172.30.0.40

  frontend:
    container_name: matchup-frontend
    build:
      context: .
      dockerfile: uu_ritr_maing01-hi/Dockerfile
    ports:
      - "1234:1234"
    networks:
      fuckthisshit:
        ipv4_address: 172.30.0.50
  
networks:
  fuckthisshit:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24
          gateway: 172.30.0.1
    
