services:
  server:
    container_name: matchup-server
    build:
      context: .
      dockerfile: uu_ritr_maing01-server/Dockerfile
    ports:
      - "3743:8080"
      - "3744:8082"
    networks:
      fuckthisshit:
        ipv4_address: 172.30.0.40

  frontend:
    container_name: matchup-frontend
    build:
      context: .
      dockerfile: uu_ritr_maing01-hi/Dockerfile
    ports:
      - "3745:1234"
    networks:
      fuckthisshit:
        ipv4_address: 172.30.0.50

  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    command: ["mongod", "--bind_ip_all", "--noauth"]

    networks:
      fuckthisshit:
        ipv4_address: 172.30.0.60

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8070:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: false

    networks:
      fuckthisshit:
        ipv4_address: 172.30.0.61
  
networks:
  fuckthisshit:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24
          gateway: 172.30.0.1
    
